<div class="mobile-menu" id="mobileMenu">

    <button class="close-menu" onclick="toggleMenu()">
    <i class="fa fa-times"></i>
    </button>
    
    <nav>
    
      <a href="index.html"><i class="fa fa-chart-line"></i> Dashboard</a>
    
    <a href="sales.html"><i class="fa fa-money-bill"></i> Sales</a>
    
    <a href="etags.html"><i class="fa fa-id-card"></i> E-Tags</a>
    
    <a href="stats.html"><i class="fa fa-chart-bar"></i> Statistics</a>
    
    <a href="staff.html"><i class="fa fa-users"></i> Staff</a>
    
    </nav>
    
    </div>
    
    
    <aside class="sidebar">
    
    <h2 class="logo" style="margin-bottom: 40px;">🚗 ParkFlow</h2>
    
    <nav>
    
    <a href="index.html"><i class="fa fa-chart-line"></i> Dashboard</a>
    
    <a href="sales.html"><i class="fa fa-money-bill"></i> Sales</a>
    
    <a href="etags.html"><i class="fa fa-id-card"></i> E-Tags</a>
    
    <a href="stats.html"><i class="fa fa-chart-bar"></i> Statistics</a>
    
    <a href="staff.html"><i class="fa fa-users"></i> Staff</a>
    
    </nav>
    
    </aside>

     <div class="fixed-mobile-header">
       <!-- Mobile menu button -->
          <button class="menu-btn" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
          </button>

          <div class="header-right">
          <h2 class="logo">🚗 ParkFlow</h2>
        </div>
    </div>